{% extends 'base.html' %}

{% block title %}
    Предложения по сайту
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>&nbsp;&#47;&nbsp;Предложения</h3>
        </div>
    </div>

    {% load recaptcha2 %}

    {% recaptcha_init 'ru'%}

    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 16px;">
            Вы можете оставить своё предложение по функционалу сайта, сообщить о новых новеллах для статистики перевода или чарта.
            После рассмотрения заявки вам придёт email-уведомление о результате.
        </div>
    </div>

    <form id="form_offer" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment">Предложение:</label>
            <textarea class="form-control" rows="5" id="comment" form="form_offer" maxlength="5000" name="offer_text" placeholder="Ваше предложение..." required></textarea>
        </div>

        <div class="form-group">
            {{ form }}
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>

    </form>

{% endblock %}
