<h4>Карта сайта</h4>
<ul>
    <li><a href="/">Главная страница</a></li>
    <li><a href="{% url 'chart:chart_index' %}">Чарт визуальных новелл</a></li>
    <li><a href="{% url 'chart_favorites' %}">Избранное</a></li>
    <li><a href="/translation/all">Список активных переводов</a></li>
    <li><a href="/about">О сайте</a></li>
    <li><a href="/offers/send">Предложения по сайту</a></li>
    <li><a href="/news/all">Новости</a></li>
    <li style="margin: 0 0 1em 0;"><a href="https://vndb.org/" target="_blank">VNDb</a></li>
    {% if user.is_authenticated %}
        <li style="margin: 0 0 1em 0;"><a href="/profile/{{ user.username }}">Профиль {{ user.username }}</a></li>
        {% if user.is_staff %}
            <li style="margin: 0 0 1em 0;"><a href="/admin/">Администрирование</a></li>
        {% endif %}
        <li style="margin: 0 0 1em 0;"><a href="/logout">Выйти</a></li>
    {% else %}
        <li><a href="/login">Вход</a></li>
        <li style="margin: 0 0 1em 0;"><a href="/signup">Регистрация</a></li>
    {% endif %}
</ul>
