{% extends 'base.html' %}

{% block metatags %}
    <meta name="robots" content="none" />
{% endblock %}

{% block title %}
    Нет доступа
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>&nbsp;&#47;&nbsp;Нет доступа</h3>
        </div>
    </div>

    <div class="row text-center" style="margin-top: 40px;">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            У вас нет права для доступа на указанную страницу.
        </div>
    </div>
{% endblock %}
