{% extends 'base.html' %}

{% block metatags %}
    {% include "includes/no_robots.html" %}
{% endblock %}

{% block title %}
    Страница не найдена
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>&nbsp;&#47;&nbsp;Не найдено</h3>
        </div>
    </div>

    <div class="row text-center" style="margin-top: 40px;">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <img src="/media/other/404.jpg" />
        </div>
    </div>
{% endblock %}
