<div class="row" style="margin-bottom: 10px;">
    <div class="col-lg-12">
        <div class="btn-group btn-group-sm btn-group-chart-main-page">
            <div class="btn-group btn-group-sm btn-group-chart-main-page">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                Жанры
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for genre in all_genres %}
                        <li><a href="/chart/genre/{{ genre.alias }}">{{ genre.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group btn-group-sm btn-group-chart-main-page">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                Тэги
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for tag in all_tags %}
                        <li><a href="/chart/tag/{{ tag.alias }}">{{ tag.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group btn-group-sm btn-group-chart-main-page">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                Продолжительность
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for duration in all_durations %}
                        <li><a href="/chart/duration/{{ duration.alias }}">{{ duration.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group btn-group-sm btn-group-chart-main-page">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                Студии
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for studio in all_studios %}
                        <li><a href="/chart/studio/{{ studio.alias }}">{{ studio.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group btn-group-sm btn-group-chart-main-page">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                Персоналии
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for staff in all_staff %}
                        <li><a href="/chart/staff/{{ staff.alias }}">{{ staff.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-12">
        <div class="btn-group btn-group-sm btn-group-chart-main-page">
            <a class="btn btn-default" href="?sort={{ date_of_translation }}">По дате перевода
                <span class="{{ date_of_translation_icon }} glypho-chart-main-sorting"></span></a>
            <a class="btn btn-default" href="?sort={{ rate }}">По оценке
                <span class="{{ rate_icon }} glypho-chart-main-sorting"></span></a>
            <a class="btn btn-default" href="?sort={{ popularity }}">По популярности
                <span class="{{ popularity_icon }} glypho-chart-main-sorting"></span></a>
            <a class="btn btn-default" href="?sort={{ title }}">По названию
                <span class="{{ title_icon }} glypho-chart-main-sorting"></span></a>
            <a class="btn btn-default" href="?sort={{ date_of_release }}">По дате выхода
                <span class="{{ date_of_release_icon }} glypho-chart-main-sorting"></span></a>
        </div>
    </div>
</div>
