{% extends 'base.html' %}

{% load static %}

{% block metatags %}
    <meta name="keywords" content="чарт, визуальная новелла, визуальный роман, накиге, уцуге, эроге, романтика,
    хоррор, денпа, adv, nvl, моэге, нукиге, сториге, чуниге, кяраге, звуковая новелла, clannad, angel beats, хигураши,
    higurashi, steins gate, fate stay night, tomoyo after, saya no uta, ever 17, sharin no kuni, rewrite">
    <meta name="description" content="Чарт визуальных новелл" />
    <link rel="stylesheet" href="{% static 'css/chart_style.css' %}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>{{ additional_breadcumb|safe }}</h3>
        </div>
    </div>

    {% if additional_description %}
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 8px;">
                <blockquote style="font-size: 14px; border-left: 5px solid #51b7d8;">{{ additional_description|safe }}</blockquote>
            </div>
        </div>
    {% endif %}

    {% include "chart/index-sort-include.html" %}

    {% for row in rows %}
        <div class="row text-center">
            {% for visual_novel in row %}
                <div class="col-md-3 col-sm-6 hero-feature vn-block">
                    <div class="thumbnail vn-thumbnail">
                        <a href="{{ visual_novel.chart_link }}"><img src="{{ base_poster_url }}" alt="{{ visual_novel.title|safe }}" class="poster-img" data_url="{{ visual_novel.poster_url }}"></a>
                        <div class="caption">
                            <h4 class="vn-header-title" title="{{ visual_novel.title|safe }}">{{ visual_novel.title|safe }}</h4>
                            <div class="vn-desc vn-desc-unwrap"><a href="#" class="vn-desc-enlarge">Развернуть описание</a></div>
                            <div class="vn-desc hidden-option vn-desc-full">{{ visual_novel.description|safe }}</div>
                            <div class="vn-desc hidden-option vn-desc-wrap"><a href="#" class="vn-desc-enlarge">Cвернуть описание</a></div>
                            <div class="vn-genres vn-params">
                                <span class="sh-desc">Жанры:&nbsp;</span>
                                {% for genre in visual_novel.genres %}
                                    {% if genre.has_description %}
                                        <a href="{{ genre.link }}" class="tooltip" data-tooltip-content="#{{ visual_novel.alias }}{{ genre.alias }}">{{ genre.title|safe }}<span class="tooltip_templates"></span><span id="{{ visual_novel.alias }}{{ genre.alias }}">{{ genre.description|safe }}</span></a>{% include "includes/comma.html" %}
                                    {% else %}
                                        <a href="{{ genre.link }}">{{ genre.title|safe }}</a>{% include "includes/comma.html" %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="vn-params">
                                <span class="sh-desc">Студия:&nbsp;</span>
                                {% for studio in visual_novel.studios %}
                                    {% if studio.has_description %}
                                        <a href="{{ studio.link }}" class="tooltip" data-tooltip-content="#{{ visual_novel.alias }}{{ studio.alias }}">{{ studio.title|safe }}</a><span class="tooltip_templates"><span id="{{ visual_novel.alias }}{{ studio.alias }}">{{ studio.description|safe }}</span></span>{% include "includes/comma.html" %}
                                    {% else %}
                                        <a href="{{ studio.link }}">{{ studio.title|safe }}</a>{% include "includes/comma.html" %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="vn-params">
                                <span class="sh-desc">Оценка на VNDb:&nbsp;</span><strong>{{ visual_novel.vndb_mark }}</strong>
                            </div>
                            <div class="vn-params">
                                <span class="sh-desc">Популярность на VNDb:&nbsp;</span><strong>{{ visual_novel.vndb_popularity }}</strong>
                            </div>
                            <div class="p-main-vn-links btn-group btn-group-justified">
                                <a href="{{ visual_novel.chart_link }}" class="btn btn-xs btn-primary">Подробнее</a>
                                <a href="https://vndb.org/v{{ visual_novel.vndb_id }}" class="btn btn-xs btn-default" target="_blank">VNDb&nbsp;&nbsp;<i class="glyphicon glyphicon-share"></i></a>
                            </div>

                            {% if visual_novel.is_favorite %}
                                <div class="p-main-vn-links btn-group btn-group-justified">
                                    <a href="{% url 'chart:chart_favorites_remove' visual_novel.title %}" class="btn btn-xs btn-primary">Удалить <i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            {% else %}
                                <div class="p-main-vn-links btn-group btn-group-justified">
                                    <a href="{% url 'chart:chart_favorites_add' visual_novel.title %}" class="btn btn-xs btn-primary">Добавить в избранное <i class="glyphicon glyphicon-star"></i></a>
                                </div>
                            {% endif %}

                            {% if not visual_novel.is_rated %}
                                <div class="p-main-vn-links btn-group btn-group-center block-stars">
                                    <a href="{% url 'rating' visual_novel.title 1 %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                                    <a href="{% url 'rating' visual_novel.title 2 %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                                    <a href="{% url 'rating' visual_novel.title 3 %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                                    <a href="{% url 'rating' visual_novel.title 4 %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                                    <a href="{% url 'rating' visual_novel.title 5 %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                                </div>
                            {% else %}
                                <div class="p-main-vn-links btn-group btn-group-center">
                                    <button class="btn btn-xs btn-primary">{{ visual_novel.average_rating }} <i class="glyphicon glyphicon-star"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if no_rows %}
        <div class="row text-center">
            <h4>По вашему запросу ничего не найдено.</h4>
        </div>
    {% endif %}

    <script src="{% static 'js/chart_main_page.js' %}"></script>
{% endblock %}
