{% extends 'base.html' %}
{% load static %}

{% block title %}
    Визуальная новелла такая-то
{% endblock %}

{% block content %}
    <p>Main page</p>
    <div class="row">
                <div class="col-lg-12 p-column">
                    <h3 class="vnhome-title">
                        <a href="/chart/">Чарт</a>&nbsp;{{ title }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 p-column">
                    <img src= {{ poster_url }}  class="vnhome-poster">

                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 p-column">
                    <p class="vnhome-genre">
                        <span class="sh-desc">Другие названия:&nbsp;</span>{{alternative_title}}
                    </p>
                    <p class="vnhome-genre">
                        <span class="sh-desc">
                            <strong>Разработка игры</strong>
                    </p>
                        <p class="vnhome-genre">
                            <span class="sh-desc">Студия:&nbsp;</span>
                                {% for studio in studios %}
                                <a href=" {{studio.link}} " class="tip" title="{{ studio.description }}"> {{ studio.title }}
                                </a>
                                {% endfor %}
                        </p>
                        <p class="vnhome-genre">
                            <span class="sh-desc">В том числе:&nbsp;</span>
                            {% for staff in staffs %}
                            <a href="{{staff.link}}"> {{staff.title}} </a>(
                                    {% for role in staff.roles %}
                                    {{role.title}},
                                    {% endfor %}
                                    ),
                            {% endfor %}
                        </p>
                        <p class="vnhome-genre">
                            <span class="sh-desc">
                                <strong>Информация</strong>
                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">Жанры:&nbsp;</span>
                                <a href="/?genre=1">драма</a>,
                                {% for genre in genres %}
                                <a href="{{genre.link}}">{{genre.title}},
                                {% endfor %}
                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">Тэги:&nbsp;</span>
                                {% for tag in tags%}
                                <a href="{{tag.link}}" class="tip" title="{{tag.description}}">{{tag.title}}</a>,
                                {% endfor %}

                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">Дата выхода:&nbsp;</span> {{date_of_release}}
                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">Оценка на VNDb:&nbsp;</span>
                                <strong>TODO</strong>
                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">
                                    <strong>
                                        <a href="https://vndb.org/v16510" target="_blank">TODO</a>
                                    </strong>
                                </span>
                            </p>
                            <p class="vnhome-genre">
                                <span class="sh-desc">Продолжительность:&nbsp;</span>
                                <a>{{longevity}}</a>
                            </p>

                            <p class="vnhome-genre">
                                <span class="sh-desc">Дата выхода перевода:&nbsp;</span>TODO
                            </p>
                            <p class="vnhome-genre">
                                <strong>
                                    <span class="sh-desc">
                                        <img src="/img/icons/steam.png" class="steam-img">&nbsp;
                                        <a href="{{steam_link}}" class="steam-a" target="_blank">Есть в Steam</a>
                                    </span>
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="row vnhome-desc-title">
                        <div class="col-lg-12 p-column">
                            <h4>Описание:</h4>
                        </div>
                    </div>
                    <div class="row vnhome-desc">{{description}}
                    </div>
                    <div class="row vnhome-desc-title">
                        <div class="col-lg-12 p-column">
                            <h4>Комментарий:</h4>
                        </div>
                    </div>
                    <div class="row vnhome-desc-title">
                        <div class="col-lg-12 p-column">
                            <h4>Скриншоты:</h4>
                        </div>
                    </div>
                    <div class="row vnhome-desc gallery">
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia01.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia01.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia02.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia02.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia03.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia03.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia04.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia04.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia05.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia05.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia06.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia06.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia07.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia07.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia08.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia08.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia09.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia09.png">
                        </a>
                        <a href="/img/screenshots/v3M5uK4FYBJ57QRKn/harmonia10.png" class="gallery-item">
                            <img src="/img/screenshots/v3M5uK4FYBJ57QRKn/mini/harmonia10.png">
                        </a>
                    </div>
                    <div class="row vnhome-desc">&nbsp;
                        <br>&nbsp;
                    </div>
                    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
                    <script src="{% static 'js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
                    <script src="{% static 'js/jquery-ui.js' %}"></script>
                    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}