{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title|safe }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 p-column">
            <h3 class="vnhome-title">
                <a href="/">Главная</a>&nbsp;&#47;&nbsp;<a href="/chart/">Чарт</a>&nbsp;&#47;&nbsp;{{ title|safe }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6 p-column">
            <img src="{{ poster_url }}" class="vnhome-poster">
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 p-column">
            <p class="vnhome-genre">
                <span class="sh-desc">Другие названия:</span> {{ alternative_title|safe }}
            </p>

            {% if has_studios %}
                <p class="vnhome-genre">
                    <span class="sh-desc"><strong>Разработка игры</strong></span>
                </p>

                <p class="vnhome-genre">
                    <span class="sh-desc">Студия: </span>
                    {% for studio in studios %}
                        {% if studio.has_description %}
                            <a href="{{ studio.link }}" class="tooltip" data-tooltip-content="#{{ studio.alias }}">{{ studio.title|safe }}</a><span class="tooltip_templates"><span id="{{ studio.alias }}">{{ studio.description|safe }}</span></span>{% include "includes/comma.html" %}
                        {% else %}
                            <a href="{{ studio.link }}">{{ studio.title|safe }}</a>
                        {% endif %}
                    {% endfor %}
                </p>

                {% if has_staffs %}
                    <p class="vnhome-genre">
                        <span class="sh-desc">В том числе:</span>
                        {% for staff in staffs %}
                            {% if staff.has_description %}
                                <a href="{{ staff.link }}" class="tooltip" data-tooltip-content="#{{ staff.alias }}">{{ staff.title|safe }}</a><span class="tooltip_templates"><span id="{{ staff.alias }}">{{ staff.description|safe }}</span></span>
                            {% else %}
                                <a href="{{ staff.link }}">{{ staff.title|safe }}</a>
                            {% endif %}
                            &#40;{% for role in staff.roles %}{{ role.title|safe }}{% include "includes/comma.html" %}{% endfor %}&#41;{% include "includes/comma.html" %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endif %}

            <p class="vnhome-genre">
                <span class="sh-desc"><strong>Информация</strong></span>
            </p>

            {% if has_genres %}
                <p class="vnhome-genre">
                    <span class="sh-desc">Жанры:</span>
                    {% for genre in genres %}
                        {% if genre.has_description %}
                            <a href="{{ genre.link }}" class="tooltip" data-tooltip-content="#{{ genre.alias }}">{{ genre.title|safe }}<span class="tooltip_templates"><span id="{{ genre.alias }}">{{ genre.description|safe }}</span></span>{% include "includes/comma.html" %}
                        {% else %}
                            <a href="{{ genre.link }}">{{ genre.title|safe }}</a>{% include "includes/comma.html" %}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if has_tags %}
                <p class="vnhome-genre">
                    <span class="sh-desc">Тэги:</span>
                    {% for tag in tags %}
                        {% if tag.has_description %}
                            <a href="{{ tag.link }}" class="tooltip" data-tooltip-content="#{{ tag.alias }}">{{ tag.title|safe }}</a><span class="tooltip_templates"><span id="{{ tag.alias }}">{{ tag.description|safe }}</span></span>{% include "includes/comma.html" %}
                        {% else %}
                            <a href="{{ tag.link }}">{{ tag.title|safe }}</a>{% include "includes/comma.html" %}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            <p class="vnhome-genre">
                <span class="sh-desc">Дата выхода:</span> {{ date_of_release }}
            </p>

            <p class="vnhome-genre">
                <span class="sh-desc">Оценка на VNDb:</span> <strong>{{ vndb_mark }}</strong>
            </p>

            <p class="vnhome-genre">
                <span class="sh-desc">
                    <strong><a href="https://vndb.org/v{{ vndb_id }}" target="_blank">Ссылка на VNDb</a></strong>
                </span>
            </p>

            <p class="vnhome-genre">
                <span class="sh-desc">Продолжительность:</span> <a href="{{ longevity_link }}">{{ longevity }}</a>
            </p>

            <p class="vnhome-genre">
                <span class="sh-desc">Дата выхода перевода:</span> {{ date_of_translation }}
            </p>

            {% if has_steam %}
                <p class="vnhome-genre">
                    <strong>
                        <span class="sh-desc">
                            <img src="{{ steam_icon }}" class="steam-img">&nbsp;
                            <a href="{{ steam_link }}" class="steam-a" target="_blank">Есть в Steam</a>
                        </span>
                    </strong>
                </p>
            {% endif %}
        </div>
    </div>

    {% if has_description %}
        <div class="row vnhome-desc-title">
            <div class="col-lg-12 p-column">
                <h4>Описание:</h4>
            </div>
        </div>
        <div class="row vnhome-desc">
            {{ description|safe }}
        </div>
    {% endif %}

    {% if has_comment %}
        <div class="row vnhome-desc-title">
            <div class="col-lg-12 p-column">
                <h4>Комментарий:</h4>
            </div>
        </div>
        <div class="row vnhome-desc">
            {{ comment|safe }}
        </div>
    {% endif %}

    {% if has_screenshots %}
        <div class="row vnhome-desc-title">
            <div class="col-lg-12 p-column">
                <h4>Скриншоты:</h4>
            </div>
        </div>
        <div class="row vnhome-desc gallery">
            {% for screenshot in screenshots %}
                <a href="{{ screenshot.image }}" class="gallery-item">
                    <img src="{{ screenshot.miniature }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row vnhome-desc">&nbsp;
        <br>&nbsp;
    </div>
{% endblock %}
