{% extends 'base.html' %}
{% load static %}

{% block title %}
    Визуальная новелла такая-то
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 p-column">
            <h3 class="vnhome-title">
                <a href="/">Главная</a>&nbsp;&#47;&nbsp;<a href="/chart/">Чарт</a>&nbsp;&#47;&nbsp;{{ title }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6 p-column">
            <img src="{{ poster_url }}" class="vnhome-poster">
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 p-column">
            <p class="vnhome-genre">
                <span class="sh-desc">Другие названия:</span> {{ alternative_title }}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc"><strong>Разработка игры</strong></span>
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Студия: </span>
                {% for studio in studios %}
                    <a href="{{ studio.link }}" class="tip" title="{{ studio.description }}">{{ studio.title }}</a>
                {% endfor %}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">В том числе:</span>
                {% for staff in staffs %}
                    <a href="{{ staff.link }}">{{ staff.title }}</a>&nbsp;({% for role in staff.roles %}{{ role.title }}{% include "includes/comma.html" %}{% endfor %}){% include "includes/comma.html" %}
                {% endfor %}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc"><strong>Информация</strong></span>
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Жанры:</span>
                {% for genre in genres %}<a href="{{ genre.link }}">{{ genre.title }}</a>{% include "includes/comma.html" %}{% endfor %}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Тэги:</span>
                {% for tag in tags%}<a href="{{ tag.link }}" class="tip" title="{{ tag.description }}">{{ tag.title }}</a>{% include "includes/comma.html" %}{% endfor %}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Дата выхода:</span> {{ date_of_release }}
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Оценка на VNDb:</span>
                <strong>{{ vndb_mark }}</strong>
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">
                    <strong>
                        <a href="https://vndb.org/v{{ vndb_id }}" target="_blank">Ссылка на VNDb</a>
                    </strong>
                </span>
            </p>
            <p class="vnhome-genre">
                <span class="sh-desc">Продолжительность:</span>
                <a href="{{ longevity_link }}">{{ longevity }}</a>
            </p>

            <p class="vnhome-genre">
                <span class="sh-desc">Дата выхода перевода:</span> {{date_of_translation}}
            </p>
            {% if has_steam %}
                <p class="vnhome-genre">
                    <strong>
                        <span class="sh-desc">
                            <img src="{{ steam_icon }}" class="steam-img">&nbsp;
                            <a href="{{ steam_link }}" class="steam-a" target="_blank">Есть в Steam</a>
                        </span>
                    </strong>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row vnhome-desc-title">
        <div class="col-lg-12 p-column">
            <h4>Описание:</h4>
        </div>
    </div>
    <div class="row vnhome-desc">
        {{ description|safe }}
    </div>

    <div class="row vnhome-desc-title">
        <div class="col-lg-12 p-column">
            <h4>Комментарий:</h4>
        </div>
    </div>

    <div class="row vnhome-desc-title">
        <div class="col-lg-12 p-column">
            <h4>Скриншоты:</h4>
        </div>
    </div>
    <div class="row vnhome-desc gallery">
        {% for screenshot in screenshots %}
            <a href="{{ screenshot.image }}" class="gallery-item">
                <img src="{{ screenshot.miniature }}">
            </a>
        {% endfor %}
    </div>
    <div class="row vnhome-desc">&nbsp;
        <br>&nbsp;
    </div>
{% endblock %}
