{% extends 'base.html' %}

{% block metatags %}{% endblock %}

{% block title %}
    О сайте
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 16px;">
            <h3><a href="/">Главная</a>&nbsp;&#47;&nbsp;О сайте</h3>
        </div>
    </div>

    <div class="row">
        <h3><a href="/chart/">Чарт визуальных новелл</a></h3>
        <p>Данный раздел создан по образу западных <a href="https://www.google.ru/search?q=visual+novel+chart&tbm=isch" target="_blank">рекомендационных "чартов" (списков)</a> визуальных новелл. Его цель&nbsp;&#8211; познакомить начинающего читателя с качественными, общепризнанными визуальными новеллами японского происхождения, полностью переведёнными на русский язык, исключив влияние фанатских работ русских и английских авторов, ещё не прошедших в основной своей массе "детский" этап развития.</p>
        <p>Как и любой чарт, наш список является в определённой степени объективным и субъективным. Он объективен в том плане, что все представленные новеллы действительно имеют хороший сюжет, атмосферу, свою, как правило, широкую аудиторию поклонников, высокие оценки и т.д. Он субъективен в том плане, что мы не рассматривали многие популярные новеллы, как правило, опирающиеся чисто на хентай или фансервис.</p>
        <p>Некоторые из критериев выбора:
            <ul>
                <li>Игра входит в большинство уже существующих западных ВН-чартов.</li>
                <li>Она полностью переведена на русский язык. Брошенные переводы не рассматривались. Единственное исключение: <a href="/vnhome.php?id=8"  class="tip" data-tip="...в котором переводчик перевёл основную историю, отбросив посредственные побочные.<br><br><i>'Так история переведена полностью. А тратить время на слабосюжетные хентайные зарисовки нет никакого желания.'</i>">спинофф к Sharin no Kuni</a>.</li>
                <li>Игра имеет на VNDb рейтинг от 7.0 и выше.</li>
            </ul>
        </p>
        <p>Касаемо последнего пункта: <a href="http://vndb.org" target="_blank">VNDb.org</a>, хоть и ни в коей степени не является последней инстанцией,&nbsp;&#8211; это самая крупная база визуальных новелл, ориентированная именно на западную аудиторию. Она имеет уже солидный возраст и большое число пользователей. Ещё одно отличие от русских баз визуальных новелл: в качестве системы оценивания взято <a href="https://en.wikipedia.org/wiki/Bayesian_average" target="_blank">байесовское среднее</a>, которое учитывает не только среднюю оценку, но и число голосовавших. Простейший пример можно посмотреть на <a href="http://www.world-art.ru/animation/rating_top.php" target="_blank">World-art</a> (внизу страницы).</p>
    </div>

    <div class="row">
        <h3><a href="/translation/all">Переводы на русский язык</a></h3>
        <p>Данный раздел создан для того, чтобы предоставить переводчикам и читателям единый формат для хранения, редактирования и просмотра статистики по переводам визуальных новелл.
            База данных по переводам может быть использована для вывода статистики в группы ВК или рассылки пользователям (<strong>ФУНКЦИОНАЛ НЕ ДОПИСАН</strong>).</p>
    </div>

    <div class="row">
        <h3><a href="https://vk.com/topic-73391729_35464204">Тема для обсуждения сайта</a></h3>
    </div>
{% endblock %}
