{% extends 'base.html' %}

{% block metatags %}
    <meta name="keywords" content="чарт, визуальная новелла, визуальный роман, накиге, уцуге, эроге, романтика, хоррор, драма, денпа">
    <meta name="description" content="Визуальные новеллы, переведенные на русский язык." />
{% endblock %}

{% block title %}
    Переводы визуальных новелл
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12" style="margin-bottom: 16px;">
            <h3>Главная</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 hidden-xs-down">
            {% include "includes/main_page.html" %}
        </div>

        <div class="col-12 col-md-4">
            {% include "includes/site_map.html" %}
        </div>
    </div>
{% endblock %}
