{% extends 'base.html' %}

{% block metatags %}
    <meta name="keywords" content="визуальные новеллы, чарт визуальных новелл, лучшие визуальные новеллы, визуальный роман, накиге, уцуге, эроге, романтика, хоррор, драма, денпа">
    <meta name="description" content="Чарт визуальных новелл" />
{% endblock %}

{% block title %}
    Визуальные новеллы на русском
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12" style="margin-bottom: 16px;">
            <h3>Главная</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 hidden-md-down">
            {% include "news/news_list.html" %}
        </div>

        <div class="col-12 col-md-4">
            {% include "includes/site_map.html" %}
        </div>
    </div>
{% endblock %}
