{% extends 'base.html' %}

{% block metatags %}
    <meta name="robots" content="none" />
{% endblock %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 16px;">
            <h3><a href="/">Главная</a>&nbsp;&#47;&nbsp;Восстановление пароля</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 16px;">
            На ваш email была отправлена ссылка для активации аккаунта.
        </div>
    </div>
{% endblock %}
