{% extends 'base.html' %}

{% block metatags %}
    <meta name="keywords" content="визуальная новелла, визуальный роман, переводы, русский">
    <meta name="description" content="Активные переводы визуальных новелл на русский язык." />
{% endblock %}

{% block title %}
    Список ведущихся переводов
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>&nbsp;&#47; Список ведущихся переводов</h3>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            {% for novel in novels %}
                <tr class="{{ novel.status_style }}">
                    <td>
                        <strong>
                            <a href="/translation/{{ novel.alias }}">{{ novel.title|safe }}</a>
                        </strong>
                        <em>(последнее обновление: {{ novel.last_update }})</em>
                        <strong>
                            <span class="text-{{ novel.status_style }} pull-right">{{ novel.status_name }}</span>
                        </strong>
                        <br /><br />
                        <span class="monospaced">
                            Всего строк&nbsp;: <span id="translation_total_rows">{{ novel.total_rows|safe }}</span><br />
                            Перевод&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span id="translation_translation">{{ novel.translated|safe }}
                            ({{ novel.translated_perc }})</span><br />
                            Редактура&nbsp;1&nbsp;: <span id="translation_edited_first_pass">{{ novel.edited_first_pass|safe }}
                            ({{ novel.edited_first_pass_perc }})</span><br />
                            Редактура&nbsp;2&nbsp;: <span id="translation_edited_second_pass">{{ novel.edited_second_pass|safe }}
                            ({{ novel.edited_second_pass_perc }})</span>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
