<td colspan="2">
    <form class="form-horizontal">
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-xxs-6">Название</label>
            <div class="col-xs-3 col-sm-4 col-xxs-6">
                <input class="form-control input_betalink_title" type="text" />
            </div>
            <label class="col-xs-3 col-sm-2 col-xxs-6">URL</label>
            <div class="col-xs-3 col-sm-4 col-xxs-6">
                <input class="form-control input_betalink_url" type="text" />
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <label class="col-sm-2">Комментарий</label>
            <div class="col-sm-10">
                <textarea class="form-control input_betalink_comment" rows="1"></textarea>
            </div>
        </div>
        <a href="/api/translation/{{ alias }}/addbetalink" class="btn btn-xs btn-primary btn-save-add-betalink">Сохранить</a>
        <a href="#" class="btn btn-xs btn-default btn-cancel-add-betalink">Отмена</a>
    </form>
</td>
