<div class="row">
    <label class="col-xs-3 col-sm-2 col-md-1 col-xxs-6">Всего строк</label>
    <div class="col-xs-3 col-sm-4 col-md-2 col-xxs-6"><input type="text" class="form-control input_data_total_rows" value="1" /></div>
    <label class="col-xs-3 col-sm-2 col-md-1 col-xxs-6">Перевод</label>
    <div class="col-xs-3 col-sm-4 col-md-2 col-xxs-6"><input type="text" class="form-control input_data_translation" value="0" /></div>
    <label class="col-xs-3 col-sm-2 col-md-1 col-xxs-6">Редактура 1</label>
    <div class="col-xs-3 col-sm-4 col-md-2 col-xxs-6"><input type="text" class="form-control input_data_editing_first_pass" value="0" /></div>
    <label class="col-xs-3 col-sm-2 col-md-1 col-xxs-6">Редактура 2</label>
    <div class="col-xs-3 col-sm-4 col-md-2 col-xxs-6"><input type="text" class="form-control input_data_editing_second_pass" value="0" /></div>
</div>
