        <div class="row">
            <label class="col-xs-3 col-sm-2">Переместить</label>
            <div class="col-xs-3 col-sm-4">
                <select class="form-control input_data_position">
                    <option value="0"></option>
                    <option value="first-child">Первым потомком</option>
                    <option value="last-child">Последним потомком</option>
                    <option value="left">Перед</option>
                    <option value="right">После</option>
                </select>
            </div>
            <label class="col-xs-3 col-sm-2">Относительно</label>
            <div class="col-xs-3 col-sm-4">
                <select class="form-control input_data_parent">
                    <option value="0"></option>
                    {% for item in move_to_list %}
                        <option value="{{ item.id }}">{{ item.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <a href="/translation/api/{{ alias }}/edit" class="btn btn-xs btn-primary btn-save-translation-chapter">Сохранить</a>
        <a href="#" class="btn btn-xs btn-default btn-cancel-translation-chapter">Отмена</a>

    </form>
</td>
