<td colspan="2">
    <form class="form-horizontal">
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-xxs-6">Название скрипта</label>
            <div class="col-xs-3 col-sm-4 col-xxs-6"><input type="text" class="form-control input_data_script_title" /></div>
            <label class="col-xs-3 col-sm-2 col-xxs-6">Пользовательское название</label>
            <div class="col-xs-3 col-sm-4 col-xxs-6"><input type="text" class="form-control input_data_title" /></div>
        </div>
