{% extends 'base.html' %}

{% block title %}
    Редактирование перевода {{ title|safe }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 8px;">
            <h3><a href="/">Главная</a>&nbsp;&#47; <a href="/profile/{{ username }}">Профиль&nbsp;{{ username }}</a>&nbsp;&#47; Редактирование перевода {{ title|safe }}</h3>
        </div>
    </div>

    <div id="delete-chapter-popup" class="white-popup-block mfp-hide"
         data_id="0" data_translation_item="{{ translation_item }}" data_alias="{{ alias }}">
        <h3>Действительно удалить раздел?</h3>
        <p id="delete-chapter-popup-additional-text"></p>
        <p>
            <a class="delete-chapter-btn btn btn-xs btn-danger" href="#">Подтвердить удаление</a>
            <a class="popup-modal-dismiss btn btn-xs btn-default" href="#">Отмена</a>
        </p>
    </div>

    <div id="delete-betalink-popup" class="white-popup-block mfp-hide"
         data_id="0" data_translation_item="{{ translation_item }}" data_alias="{{ alias }}">
        <h3>Действительно удалить ссылку?</h3>
        <p>
            <a class="delete-betalink-btn btn btn-xs btn-danger" href="#">Подтвердить удаление</a>
            <a class="popup-modal-dismiss btn btn-xs btn-default" href="#">Отмена</a>
        </p>
    </div>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
            <th class="col-md-11 col-sm-10 small-td-padding">Название</th>
            <th class="col-md-1 col-sm-2 small-td-padding">#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in statistics %}
                <tr class="translation-chapter-collapsed"
                    data_translated="{{ item.translated }}"
                    data_total_rows="{{ item.total_rows }}"
                    data_edited_first_pass="{{ item.edited_first_pass }}"
                    data_edited_second_pass="{{ item.edited_second_pass }}"
                    data_name="{{ item.name|safe }}"
                    data_is_chapter="{{ item.is_chapter }}"
                    data_script_title="{{ item.script_title }}"
                    data_title="{{ item.title }}"
                    data_translation_item="{{ item.translation_item }}"
                    data_id="{{ item.id }}"
                    data_alias="{{ alias }}">
                    {% if item.is_editable %}
                        <td class="small-td-padding item_name">{{ item.name|safe }}</td>
                        <td class="small-td-padding">
                            <a href="#" class="translation-chapter-edit translation-chapter-pin"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#delete-chapter-popup" class="translation-chapter-delete-popup translation-chapter-pin"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    {% else %}
                        <td class="small-td-padding">
                            {{ item.name|safe }}<br /><br />
                            <span class="monospaced">
                                Всего строк&nbsp;: <span id="translation_total_rows">{{ item.total_rows|safe }}</span><br />
                                Перевод&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span id="translation_translation">{{ item.translated|safe }}</span><br />
                                Редактура&nbsp;1&nbsp;: <span id="translation_edited_first_pass">{{ item.edited_first_pass|safe }}</span><br />
                                Редактура&nbsp;2&nbsp;: <span id="translation_edited_second_pass">{{ item.edited_second_pass|safe }}</span>
                            </span>
                        </td>
                        <td class="small-td-padding"></td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="add-row-collapsed"
                data_is_chapter="False"
                data_translation_item="{{ translation_item }}">
                <td><a href="#" class="add-chapter">Добавить главу</a></td>
                <td></td>
            </tr>
            <tr class="add-row-collapsed"
                data_is_chapter="True"
                data_translation_item="{{ translation_item }}">
                <td><a href="#" class="add-chapter">Добавить подраздел</a></td>
                <td></td>
            </tr>
            <tr class="editing-row-hidden editing-row-example">
                {% include "translation/chapter_edit_form_header.html" %}
                {% include "translation/chapter_edit_form.html" %}
                {% include "translation/chapter_edit_form_footer.html" %}
                {% include "translation/chapter_edit_buttons.html" %}
            </tr>
            <tr class="editing-row-hidden editing-row-example-chapter">
                {% include "translation/chapter_edit_form_header.html" %}
                {% include "translation/chapter_edit_form_footer.html" %}
                {% include "translation/chapter_edit_buttons.html" %}
            </tr>
            <tr class="editing-row-hidden collapsed-row-example">
                {% include "translation/chapter_collapsed.html" %}
            </tr>
            <tr class="editing-row-hidden add-chapter-example">
                {% include "translation/chapter_edit_form_header.html" %}
                {% include "translation/chapter_edit_form.html" %}
                {% include "translation/chapter_edit_form_footer.html" %}
                {% include "translation/chapter_add_buttons.html" %}
            </tr>
            <tr class="editing-row-hidden add-section-example">
                {% include "translation/chapter_edit_form_header.html" %}
                {% include "translation/chapter_edit_form_footer.html" %}
                {% include "translation/chapter_add_buttons.html" %}
            </tr>
            <tr class="editing-row-hidden add-row-collapsed add-chapter-text-example"
                data_is_chapter="False"
                data_translation_item="{{ translation_item }}">
                <td><a href="#" class="add-chapter">Добавить главу</a></td>
                <td></td>
            </tr>
            <tr class="editing-row-hidden add-row-collapsed add-section-text-example"
                data_is_chapter="True"
                data_translation_item="{{ translation_item }}">
                <td><a href="#" class="add-chapter">Добавить подраздел</a></td>
                <td></td>
            </tr>
            <tr class="editing-row-hidden alert-row-example">
                <td>
                    <div class="alert alert-danger alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="alert-text-div"></span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label for="pictures_statistics">Изображения</label>
        <div class="input-group">
            <textarea id="pictures_statistics" class="form-control">{{ pictures_statistics }}</textarea>
            <a class="input-group-addon btn btn-default edit-comment-send" href="#" id="save-pictures-description"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        </div>
    </div>

    <div class="form-group">
        <label for="technical_statistics">Тех. часть</label>
        <div class="input-group">
            <textarea id="technical_statistics" class="form-control">{{ technical_statistics }}</textarea>
            <a class="input-group-addon btn btn-default edit-comment-send" href="#" id="save-tech-description"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Комментарий</label>
        <div class="input-group">
            <textarea id="comment" class="form-control">{{ comment }}</textarea>
            <a class="input-group-addon btn btn-default edit-comment-send" href="#" id="save-comment-description"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        </div>
    </div>

    <table class="table table-hover table-sm">
        <caption>Ссылки для патчей</caption>
        <thead>
            <tr>
                <th class="col-md-11 col-sm-10 small-td-padding">Название</th>
                <th class="col-md-1 col-sm-2 small-td-padding">#</th>
            </tr>
        </thead>
        <tbody>
            {% for link in download_links %}
                <tr class="betalink-row-collapsed"
                betalink_title="{{ link.title }}"
                betalink_url="{{ link.url }}"
                betalink_comment="{{ link.comment }}"
                betalink_approved="{{ link.approved }}"
                betalink_rejected="{{ link.rejected }}"
                data_translation_item="{{ translation_item }}"
                betalink_id="{{ link.id }}">
                    <td>
                        <strong>{{ link.title }}</strong><br />
                        <a href="{{ link.url }}" target="_blank">{{ link.url }}</a><br />
                        {{ link.comment }}<br />
                        {% if link.approved %}
                            <span style="color:#118339">Подтвержденная ссылка</span>
                        {% else %}
                            {% if link.rejected %}
                                <span style="color:#dc301f">Ссылка отклонена</span>
                            {% else %}
                                <span style="color:#ffa121">Ссылка не подтверждена</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="translation-betalink-edit translation-chapter-pin"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="#delete-betalink-popup" class="translation-betalink-delete-popup translation-chapter-pin"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
            <tr class="add-betalink-row betalink-row-add-collapsed" data_translation_item="{{ translation_item }}">
                {% include "translation/betalink_add_example.html" %}
            </tr>
            <tr class="edit-betalink-example editing-row-hidden" data_translation_item="{{ translation_item }}">
                {% include "translation/betalink_edit.html" %}
            </tr>
            <tr class="add-betalink-row add-betalink-example editing-row-hidden" data_translation_item="{{ translation_item }}">
                {% include "translation/betalink_add.html" %}
            </tr>
            <tr class="betallink-collapsed-edit-row-example editing-row-hidden" data_translation_item="{{ translation_item }}">
                {% include "translation/betalink_edit_example.html" %}
            </tr>
            <tr class="add-betalink-row betallink-collapsed-add-row-example editing-row-hidden" data_translation_item="{{ translation_item }}">
                {% include "translation/betalink_add_example.html" %}
            </tr>
            <tr class="editing-row-hidden betalink-alert-row-example">
                <td>
                    <div class="alert alert-danger alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="alert-text-div"></span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
