{
  "PROTOCOL": "http",
  "DOMAIN": "127.0.0.1",
  "SECRET_KEY": "",
  "DATABASE": {
    "HOST": "",
    "PORT": "",
    "NAME": "",
    "USER": "",
    "PASSWORD": ""
  },
  "VNDB_API": {
    "HOST": "api.vndb.org",
    "PORT": 19534,
    "PROTOCOL": 1,
    "CLIENT": "",
    "CLIENTVER": 0.1,
    "USERNAME": "",
    "PASSWORD": ""
  },
  "EMAIL_SETTINGS": {
    "EMAIL_HOST": "",
    "EMAIL_PORT": 587,
    "EMAIL_HOST_USER": "",
    "EMAIL_HOST_PASSWORD": "",
    "EMAIL_USE_TLS": "True",
    "SERVER_EMAIL": ""
  },
  "VK": {
    "API_KEY": "",
    "GROUP_ID": "",
    "ADMIN_LOGIN": "",
    "APP_ID": "",
    "APP_REDIRECT_URI": "/login/vk-auth",
    "APP_SECRET_KEY": "",
    "API_KEY_MESSAGES": ""
  },
  "REDIS": {
    "CACHE_URL": "redis://127.0.0.1:6379/1"
  },
  "YANDEX_METRICA_API":{
    "TOKEN": "",
    "CLIENT_ID": ""
  }
}
